$darkBlue:#066bf1;
$backgrounddark:   #b6c9fe ;
$backgroundlightBlue:  #aee4ff;
$colorforlightblue: #32324e;
$backgroundred: #ffb3b3;
$redtext: #b30000;
$pinkRed:#c92b55;
$backgroundPinkRed: #ffcce0;
$orangeRed:#fac699;
$orangetext:#f24414;
$lightdarkblue: #ccddff;
$lightdarkbluetext: #001a4d;
$purple: #e6ccff;
$purpletext:rgb(99, 1, 106);
$green:#c2fac7;
$yellow:#ffffbe;
$yellowtext: #808000;
$grey:#e3dddd;
